---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="Datadoat Labs | View Pfgoject | Original Fried Chicken">
  <main>
    <h1 class="text-red-600 text-4xl">Original Fried Chicken</h1>
  </main>
</MainLayout>
