---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout title="Datadoat Labs | View Pfgoject | Yarpacom">
  <main>
    <h1 class="text-red-600 text-4xl">yarpacom Project</h1>
  </main>
</MainLayout>
