<footer class="bg-black text-white md:px-20 px-6 py-20">
  <section class="md:flex gap-16">
    <!-- ---------row-1---------- -->
    <div class="company-info md:w-4/12 flex flex-col gap-6 mb-6">
      <div class="logo">
        <a href="">
          <img class="w-60" src="/src/images/footer-main-logo.png" alt="" />
        </a>
      </div>
      <div class="flex flex-row space-x-2">
        <a href="mailto:info@datadoat.com" target="_blank">
          <button
            class="flex items-center justify-center rounded-lg box-border font-medium duration-500 px-4 py-2 text-xs 2xl:text-base 2xl:leading-4 bg-btn-pattern hover:bg-blue-700 bg-blue-600 text-white bg-accent"
            type="submit"
          >
            <img
              alt="icon"
              loading="lazy"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="/src/images/email.png"
              width="21"
              height="18"
            />
             Email
          </button>
        </a>
        <a
          href="https://api.whatsapp.com/send?phone=+8801841-525120&text=Hello."
          target="_blank"
        >
          <button
            class="flex items-center justify-center rounded-lg box-border font-medium duration-500 px-4 py-2 text-xs 2xl:text-base 2xl:leading-4 bg-secondary-500 hover:bg-blue-700 bg-blue-600 text-white bg-accent"
            type="submit"
          >
            <img
              alt="icon"
              loading="lazy"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="images/whatsapp.png"
              width="21"
              height="18"
            />
             WhatsApp
          </button>
        </a>
      </div>
      <div class="description">
        <p>
          Datadoat Labs is a Software Company based in Dhaka, Bangladesh. We do
          both Product <span style="font-size: small;">(launching soon)</span>
           and Service.
        </p>
      </div>
      <div class="">
        <h5 class="text-1xl font-semibold text-gray-200 mb-1">
          For Any Queries
        </h5>
        <p>
          <span> info@datadoat.com</span> | <span>+880 1841-525120</span>
        </p>
      </div>
      <div class="">
        <h5 class="text-1xl font-semibold text-gray-200 mb-1">
          Hiring Queries Email
        </h5>
        <p>hr@datadoat.com</p>
      </div>
      <div class="">
        <h5 class="text-1xl font-semibold text-gray-200 mb-1">
          Media Queries Email
        </h5>
        <p>media@datadoat.com</p>
      </div>
    </div>
    <div
      class="grid md:grid-cols-3 grid-cols-2 md:w-8/12 gap-6 justify-between"
    >
      <!-- ---------row-2---------- -->
      <div class="row-2">
        <h3 class="text-xl mb-2 font-semibold text-gray-200">Services</h3>
        <ul>
          <li>
            <a href="web-dev.html">Website</a>
          </li>
          <li>
            <a href="web-application.html">Web Application</a>
          </li>
          <li>
            <a href="mobile-application.html">Mobile Application</a>
          </li>
          <li>
            <a href="custom-software-dev.html">Custom Software Solution</a>
          </li>
          <li>
            <a href="api.html">API Development</a>
          </li>
          <li>
            <a href="software-testing.html">Software Testing Service</a>
          </li>
          <li>
            <a href="software-maintenance.html">Software Maintenance</a>
          </li>
        </ul>
      </div>
      <!-- ---------row-3---------- -->
      <div class="row-3">
        <h3 class="text-xl mb-2 font-semibold text-gray-200">Projects</h3>
        <ul>
          <li>
            <a href="view-projects.html">View Projects</a>
          </li>
          <li>
            <a href="collaborations.html">Collaborations</a>
          </li>
          <li>
            <a href="our-products.html">Our Products</a>
          </li>
        </ul>
      </div>
      <!-- ---------row-4---------- -->
      <div class="row-4">
        <h3 class="text-xl mb-2 font-semibold text-gray-200">Resources</h3>
        <ul>
          <li>
            <a href="blog.html">Company Blog</a>
          </li>
          <li>
            <a href="careers.html">Careers</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="press-releases.html">Press Releases</a>
          </li>
          <li>
            <a href="press-kit.html">Press Kit</a>
          </li>
          <li>
            <a
              href="https://api.whatsapp.com/send?phone=+8801841-525120&text=Hello."
            >
              Live Support</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="mt-10">
    <div class="w-full h-[1px] bg-[#e5e7eb]"></div>
    <div class="flex justify-between items-center py-4">
      <div class="flex gap-2">
        <span><i class="fa-solid fa-globe"></i></span>
        <p>United States (English)</p>
      </div>
      <div class="social-links">
        <a
          href="https://www.facebook.com/datadoatlabs"
          aria-label="link Facebook"
          target="_blank"
        >
          <img
            src="/src/images/social-icon/facebook (2).png"
            class="w-8 h-8"
            alt="facebook"
          />
        </a>
        <a
          href="https://www.instagram.com/datadoatlabs"
          aria-label="link instagram"
          target="_blank"
        >
          <img
            src="/src/images/social-icon/instagram (1).png"
            class="w-8 h-8"
            alt="instagram"
          />
        </a>

        <a
          href="https://www.linkedin.com/company/datadoat"
          aria-label="link linkedin"
          target="_blank"
        >
          <img
            src="/src/images/social-icon/linkedin-logo.png"
            class="w-8 h-8"
            alt="linkedin"
          />
        </a>

        <a
          href="https://www.threads.net/@datadoat.labs"
          aria-label="link linkedin"
          target="_blank"
        >
          <img
            src="/src/images/social-icon/threads.png"
            class="w-8 h-8"
            alt="instagram"
          />
        </a>
      </div>
    </div>
    <div class="w-full h-[1px] bg-[#e5e7eb]"></div>
    <div class="flex justify-between py-4">
      <div class="flex gap-2">
        <p>
          © 2023 Datadoat Labs, All Rights Reserved
          <br /><span style="color: rgb(255, 255, 255);">Version 1.1</span>
        </p>
      </div>
      <div class="text-right">
        <ul>
          <a href="privacy-policy.html">
            <li>Privacy Policy</li>
          </a>
          <a href="terms-conditions.html">
            <li>Terms and Conditions</li>
          </a>
        </ul>
      </div>
    </div>
  </section>
</footer>
