<header
  class="flex justify-between items-center content-center m-4 ml-10 mr-10"
>
  <a href="/">
    <img
      src="/src/images/datadoat_logo_main.png"
      class="w-48"
      alt="Datadoat Labs"
    />
  </a>
  <nav>
    <ul class="hidden min-[1050px]:flex items-center nav-links">
      <li class="m-3 group nav-link">
        <span
          class="text-lg font-semibold cursor-pointer transition-colors duration-200 flex items-center"
        >
          <p>Services</p>
          <img
            class="w-8 h-8"
            src="../../public/images/down-arrow.png"
            alt=""
          />
        </span>
        <section
          class="group-hover:rotate-0 z-50 bg-white shadow-xl flex mt-4 m-12 mr-0 ml-0 border-t-[1px] border-b-[1px] border-gray-300 nav-menu"
        >
          <div class="p-4 flex-1 flex-grow-[2]">
            <div class="grid grid-cols-4 gap-0">
              <div
                class="flex items-start justify-center m-4 p-2 border-transparent hover:border-accent border-2 hover:border-blue-600 rounded-xl"
              >
                <img
                  alt="icon"
                  loading="lazy"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/src/images/web-browser.png"
                  width="32"
                  height="32"
                />
                <section class="ml-[15px] cursor-pointer">
                  <a href="web-dev" target="">
                    <h2
                      class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                    >
                      Website<i
                        class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary opacity-80"
                      ></i>
                    </h2>
                    <p
                      class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80"
                    >
                      Crafting exceptional websites that captivate and inspire
                      your online success
                    </p>
                  </a>
                </section>
              </div>
              <div
                class="flex items-start justify-center m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl hover:border-blue-600"
              >
                <img
                  alt="icon"
                  loading="lazy"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/src/images/monitor.png"
                  width="32"
                  height="32"
                />
                <section class="ml-[15px] cursor-pointer">
                  <a href="web-application" target="">
                    <h2
                      class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                    >
                      Web Application<i
                        class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary opacity-80"
                      ></i>
                    </h2>
                    <p
                      class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80"
                    >
                      Making captivating web applications that propel your
                      business forward
                    </p>
                  </a>
                </section>
              </div>
              <div
                class="flex items-start justify-center m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl hover:border-blue-600"
              >
                <img
                  alt="icon"
                  loading="lazy"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/src/images/static-img/application.wi2n.svg"
                  width="32"
                  height="32"
                />
                <section class="ml-[15px] cursor-pointer">
                  <a href="mobile-application" target="">
                    <h2
                      class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                    >
                      Mobile Application<i
                        class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary opacity-80"
                      ></i>
                    </h2>
                    <p
                      class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80"
                    >
                      Building Android & ios mobile apps that drive growth and
                      exceed user expectations
                    </p>
                  </a>
                </section>
              </div>
              <div
                class="flex items-start justify-center m-4 p-2 px-4 border-transparent hover:border-accent border-2 rounded-xl hover:border-blue-600"
              >
                <img
                  alt="icon"
                  loading="lazy"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/src/images/coding.png"
                  width="32"
                  height="32"
                />
                <section class="ml-[15px] cursor-pointer">
                  <a href="custom-software-dev" target="">
                    <h2
                      class="whitespace-nowrap text-[20px] font-semibold leading-9 tracking-[-0.5px] text-black"
                    >
                      Custom Software
                      <i
                        class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary"
                      ></i>
                    </h2>
                    <p
                      class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80"
                    >
                      Driving innovation through custom software development
                      tailored to your business needs
                    </p>
                  </a>
                </section>
              </div>
              <div
                class="flex items-start justify-center m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl hover:border-blue-600"
              >
                <img
                  alt="icon"
                  loading="lazy"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/src/images/terminal.png"
                  width="32"
                  height="32"
                />
                <section class="ml-[15px] cursor-pointer">
                  <a href="api" target="">
                    <h2
                      class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                    >
                      API<i
                        class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary"
                      ></i>
                    </h2>
                    <p
                      class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80"
                    >
                      Harness the power of APIs to unlock new possibilities for
                      your software
                    </p>
                  </a>
                </section>
              </div>
              <div
                class="flex items-start justify-center m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl hover:border-blue-600"
              >
                <img
                  alt="icon"
                  loading="lazy"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/src/images/scalability.png"
                  width="32"
                  height="32"
                />
                <section class="ml-[15px] cursor-pointer">
                  <a href="software-testing" target="">
                    <h2
                      class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black"
                    >
                      Software Testing
                      <i
                        class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary"
                      ></i>
                    </h2>
                    <p
                      class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80"
                    >
                      ensure the flawless performance & security of your
                      software with our comprehensive testing services
                    </p>
                  </a>
                </section>
              </div>
              <div
                class="flex items-start justify-center m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl hover:border-blue-600"
              >
                <img
                  alt="icon"
                  loading="lazy"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/src/images/repair.png"
                  width="32"
                  height="32"
                />
                <section class="ml-[15px] cursor-pointer">
                  <a href="software-maintenance" target="">
                    <h2
                      class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                    >
                      Software Maintenance<i
                        class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary"
                      ></i>
                    </h2>
                    <p
                      class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80"
                    >
                      Ensuring smooth operations with expert software
                      maintenance and support services
                    </p>
                  </a>
                </section>
              </div>
            </div>
          </div>
        </section>
      </li>

      <li class="m-3 group">
        <span
          class="text-lg font-semibold cursor-pointer transition-colors duration-200 flex items-center"
        >
          <p>Projects</p>
          <img class="w-8 h-8" src="/src/images/down-arrow.png" alt="" />
        </span>
        <section
          class="group-hover:rotate-0 z-50 bg-white shadow-xl flex mt-4 m-12 mr-0 ml-0 border-t-[1px] border-b-[1px] border-gray-300 nav-menu-2"
        >
          <div class="pr-10 p-4 pt-0">
            <ul>
              <li>
                <a href="view-projects">
                  <p>View Projects</p>
                </a>
              </li>
              <li>
                <a href="collaborations">
                  <p>Collaborations</p>
                </a>
              </li>

              <li>
                <a href="our-products">
                  <div class="flex items-center gap-2">
                    <p>Our Products</p>
                    <span class="coming-span"> Coming Soon</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </section>
      </li>

      <li class="m-3">
        <span>
          <a
            href="why-datadoat-labs"
            class="text-lg font-semibold cursor-pointer transition-colors duration-200"
          >
            Why Datadoat Labs?
          </a>
        </span>
      </li>

      <li class="m-3">
        <span>
          <a
            class="text-lg font-semibold cursor-pointer transition-colors duration-200"
            href="contact-sales"
            target=""
          >
            Contact Sales
          </a>
        </span>
      </li>

      <li class="m-3 group">
        <span
          class="text-lg font-semibold cursor-pointer transition-colors duration-200 flex items-center"
        >
          <p>Resources</p>
          <img class="w-8 h-8" src="/src/images/down-arrow.png" alt="" />
        </span>
        <section
          class="group-hover:rotate-0 z-50 bg-white shadow-xl flex mt-4 m-12 mr-0 ml-0 border-t-[1px] border-b-[1px] border-gray-300 nav-menu-2"
        >
          <div class="pr-6 p-4 pt-0">
            <ul>
              <li>
                <a href="blog">
                  <p>Company Blog</p>
                </a>
              </li>
              <li>
                <a href="careers">
                  <p>Careers</p>
                </a>
              </li>
              <li>
                <a href="about">
                  <p>About</p>
                </a>
              </li>
              <li>
                <a href="press-releases">
                  <p>Press Releases</p>
                </a>
              </li>
            </ul>
          </div>
        </section>
      </li>
    </ul>

    <div class="hidden max-[1049px]:flex" id="mobile-menu">
      <img
        alt="close"
        loading="lazy"
        decoding="async"
        data-nimg="1"
        class="mr-[5px] cursor-pointer"
        style="color: transparent"
        src="/src/images/open.svg"
        width="24"
        height="24"
      />
    </div>

    <section
      class="hidden bg-white py-[16px] w-[100%] p-7 nav-menu z-[100] mt-[2.6%]"
      style="transform: rotateX(0deg)"
    >
      <div class="border-b-2">
        <div class="flex justify-between p-4 faq-itm">
          <p class="text-xl font-semibold leading-9 text-accent ml-2">
            Services
          </p>
          <img
            alt="arrow-down"
            loading="lazy"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            src="/src/images/angle-down.svg"
            width="24"
            height="24"
          />
        </div>

        <div class="flex-1 flex-grow-[2]">
          <div class="grid grid-cols-1 md:grid-cols-2 sm:grid-cols-2">
            <div
              class="flex items-start m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl"
            >
              <img
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/src/images/web-browser.png"
                width="32"
                height="32"
              />
              <section class="ml-[15px] cursor-pointer">
                <a href="web-dev" target="">
                  <h2
                    class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                  >
                    Website<i
                      class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary opacity-80"
                    ></i>
                  </h2>
                  <p
                    class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80 1230px:w-[260px] 1400px:w-[300px] 1500px:w-[341px]"
                  >
                    Crafting exceptional websites that captivate and inspire
                    your online success
                  </p>
                </a>
              </section>
            </div>
            <div
              class="flex items-start m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl"
            >
              <img
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/src/images/monitor.png"
                width="32"
                height="32"
              />
              <section class="ml-[15px] cursor-pointer">
                <a href="web-application" target="">
                  <h2
                    class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                  >
                    Web Application<i
                      class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary opacity-80"
                    ></i>
                  </h2>
                  <p
                    class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80 1230px:w-[260px] 1400px:w-[300px] 1500px:w-[341px]"
                  >
                    Making captivating web applications that propel your
                    business forward
                  </p>
                </a>
              </section>
            </div>
            <div
              class="flex items-start m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl"
            >
              <img
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/src/images/static-img/application.wi2n.svg"
                width="32"
                height="32"
              />
              <section class="ml-[15px] cursor-pointer">
                <a href="mobile-application" target="">
                  <h2
                    class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                  >
                    Mobile Application<i
                      class="fa-solid fa-angle-right ml-[6px] inline p-[1px] text-secondary opacity-80"
                    ></i>
                  </h2>
                  <p
                    class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80 1230px:w-[260px] 1400px:w-[300px] 1500px:w-[341px]"
                  >
                    Building Android & ios mobile apps that drive growth and
                    exceed user expectations
                  </p>
                </a>
              </section>
            </div>
            <div
              class="flex items-start m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl"
            >
              <img
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/src/images/coding.png"
                width="32"
                height="32"
              />
              <section class="ml-[15px] cursor-pointer">
                <a href="custom-software-dev" target="">
                  <h2
                    class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                  >
                    Custom Software Solution<i
                      class="fa-solid fa-angle-right ml-[3px] inline p-[1px] text-secondary"
                    ></i>
                  </h2>
                  <p
                    class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80 1230px:w-[260px] 1400px:w-[300px] 1500px:w-[341px]"
                  >
                    Driving innovation through custom software development
                    tailored to your business needs
                  </p>
                </a>
              </section>
            </div>
            <div
              class="flex items-start m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl"
            >
              <img
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/src/images/terminal.png"
                width="32"
                height="32"
              />
              <section class="ml-[15px] cursor-pointer">
                <a href="api" target="">
                  <h2
                    class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                  >
                    API<i
                      class="fa-solid fa-angle-right ml-[3px] inline p-[1px] text-secondary"
                    ></i>
                  </h2>
                  <p
                    class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80 1230px:w-[260px] 1400px:w-[300px] 1500px:w-[341px]"
                  >
                    Harness the power of APIs to unlock new possibilities for
                    your software
                  </p>
                </a>
              </section>
            </div>
            <div
              class="flex items-start m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl"
            >
              <img
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/src/images/scalability.png"
                width="32"
                height="32"
              />
              <section class="ml-[15px] cursor-pointer">
                <a href="software-testing" target="">
                  <h2
                    class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                  >
                    Software Testing Service<i
                      class="fa-solid fa-angle-right ml-[3px] inline p-[1px] text-secondary"
                    ></i>
                  </h2>
                  <p
                    class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80 1230px:w-[260px] 1400px:w-[300px] 1500px:w-[341px]"
                  >
                    ensure the flawless performance & security of your software
                    with our comprehensive testing services
                  </p>
                </a>
              </section>
            </div>
            <div
              class="flex items-start m-4 p-2 border-transparent hover:border-accent border-2 rounded-xl"
            >
              <img
                alt="icon"
                loading="lazy"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/src/images/repair.png"
                width="32"
                height="32"
              />
              <section class="ml-[15px] cursor-pointer">
                <a href="software-maintenance" target="">
                  <h2
                    class="whitespace-nowrap text-xl font-semibold leading-9 tracking-[-0.5px] text-black 1090px:text-2xl"
                  >
                    Software Maintenance<i
                      class="fa-solid fa-angle-right ml-[3px] inline p-[1px] text-secondary"
                    ></i>
                  </h2>
                  <p
                    class="mt-[6px] text-base font-normal leading-6 tracking-[-0.5px] text-secondary opacity-80 1230px:w-[260px] 1400px:w-[300px] 1500px:w-[341px]"
                  >
                    Ensuring smooth operations with expert software maintenance
                    and support services
                  </p>
                </a>
              </section>
            </div>
          </div>
        </div>
      </div>

      <div class="border-b-2">
        <div class="flex justify-between p-4 faq-itm">
          <p class="text-xl font-semibold leading-9 text-accent ml-2">
            Projects
          </p>
          <img
            alt="arrow-down"
            loading="lazy"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            src="/src/images/angle-down.svg"
            width="24"
            height="24"
          />
        </div>

        <div class="p-4 flex-1 flex-grow-[2]">
          <div class="-mt-8 ml-4">
            <ul class="flex flex-col gap-1">
              <li>
                <a href="view-projects"> View all projects</a>
              </li>
              <li>
                <a href="collaborations"> Collaborations</a>
              </li>
              <li>
                <a href="our-products">
                  Our Products <span class="font-semibold text-red-600 text-sm"
                    >Soon</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-b-2">
        <div class="flex justify-between p-4 faq-itm">
          <a href="why-datadoat-labs">
            <p class="text-xl font-semibold leading-9 text-accent ml-2">
              Why Datadoat Labs?
            </p>
          </a>
        </div>
      </div>

      <div class="border-b-2">
        <div class="flex justify-between p-4 faq-itm">
          <p class="text-xl font-semibold leading-9 text-accent ml-2">
            Resources
          </p>
          <img
            alt="arrow-down"
            loading="lazy"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            src="/src/images/angle-down.svg"
            width="24"
            height="24"
          />
        </div>

        <div>
          <div class="p-4 flex-1 flex-grow-[2]">
            <div class="-mt-8 ml-4">
              <ul class="flex flex-col gap-1">
                <li>
                  <a href="blog"> Company Blog</a>
                </li>
                <li>
                  <a href="careers"> Careers</a>
                </li>
                <li>
                  <a href="about"> About</a>
                </li>
                <li>
                  <a href="press-releases"> Press Releases</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-between p-4 border-b-2">
        <p class="text-xl font-semibold leading-9 text-accent ml-2">
          <a href="contact-sales" target=""> Contact Sales</a>
        </p>
      </div>
    </section>
  </nav>
</header>
