---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | Careers">
  <main>
    <!-- ---------------------------banner section start------------------ -->
    <section class="md:px-12 px-12 bg-gray-100">
      <div class="md:flex text-center items-center md:text-left md:py-0 py-6">
        <div class="Banner-intro flex flex-col gap-4 md:w-5/12">
          <h1
            class="md:text-5xl Title-font text-[26px] md:leading-[60px] leading-8 font-semibold text-[rgb(84,84,84)]"
          >
            Join us to transform education together.
          </h1>
          <p class="text-[21px] text-[#757575] md:block hidden">
            Come and be a part of an inspiring team that is revolutionizing
            education in Bangladesh.
          </p>
          <div class="mx-auto md:mx-0 md:block hidden">
            <a href="contact" target="_blank">
              <button
                class="chatbtn btn bg-accent hover:bg-blue-700 duration-500 text-white p-3 px-6 rounded-md md:justify-between text-center justify-center flex"
              >
                <p class="whitespace-nowrap">Contact Sales</p>
              </button>
            </a>
          </div>
        </div>
        <div class="Img-container flex flex-col gap-2 ml-auto my-6 md:my-0">
          <div class="md:ml-auto md:mx-0 mx-auto">
            <img
              src="/images/nv_js928nav.png"
              class="md:h-32 h-[66px]"
              alt=""
            />
          </div>
          <div class="flex gap-2 md:ml-auto md:mx-0 mx-auto">
            <img
              src="/images/nv_js928nav.png"
              class="md:h-32 h-[66px]"
              alt=""
            />
            <img
              src="/images/nv_js928nav.png"
              class="md:h-32 h-[66px]"
              alt=""
            />
          </div>
          <div class="flex gap-2 md:ml-auto md:mx-0 mx-auto">
            <img
              src="/images/nv_js928nav.png"
              class="md:h-32 h-[66px]"
              alt=""
            />
            <img
              src="/images/nv_js928nav.png"
              class="md:h-32 h-[66px]"
              alt=""
            />
            <img
              src="/images/nv_js928nav.png"
              class="md:h-32 h-[66px]"
              alt=""
            />
          </div>
        </div>
        <div class="mx-auto justify-center text-center ml-auto flex md:hidden">
          <a href="contact" target="_blank">
            <button
              class="hover:bg-blue-700 bg-blue-600 duration-500 text-white p-3 px-6 rounded-md md:justify-between text-center justify-center flex"
            >
              <p class="whitespace-nowrap">Contact Sales</p>
            </button>
          </a>
        </div>
      </div>
    </section>
    <!-- ---------------------------banner section end ------------------ -->

    <!-- ------------------whay datadot lab section start------------------- -->
    <section class="md:mx-12 mx-6 md:my-32 bg-gray-100 p-4 py-12">
      <div class="text-center">
        <h1 class="Title-font text-4xl font-semibold">Why 10 Minute School?</h1>
        <p class="text-gray-700 text-xl my-8 md:w-[68%] mx-auto">
          We are the fastest growing EdTech of Bangladesh. We believe in
          promoting a workplace where everyone has the opportunity to grow,
          create and excel.
        </p>
      </div>
      <div class="grid md:grid-cols-3 gap-6">
        <div class="text-center flex flex-col gap-4">
          <div
            class="bg-white rounded-full w-20 h-20 text-center justify-center items-center flex mx-auto shadow-lg"
          >
            <img
              class="h-12"
              src="https://pathao.com/wp-content/uploads/2018/12/ic_Car_Feature_1.png"
              alt=""
            />
          </div>
          <div class="px-6">
            <h2 class="title text-3xl font-bold mb-6 Title-font">
              Employee-centric policies
            </h2>
            <p class="text-gray-700 font-medium">
              Maternity Leave | Paternity Leave | PTO
            </p>
          </div>
        </div>
        <div class="text-center flex flex-col gap-4">
          <div
            class="bg-white rounded-full w-20 h-20 text-center justify-center items-center flex mx-auto shadow-lg"
          >
            <img
              class="h-12"
              src="https://pathao.com/wp-content/uploads/2018/12/ic_Car_Feature_1.png"
              alt=""
            />
          </div>
          <div class="px-6">
            <h2 class="title text-3xl font-bold mb-6 Title-font">
              Learning Opportunities
            </h2>
            <p class="text-gray-700 font-medium">
              Competitive Compensation | Fast-tracked growth | Quarterly Reviews
              and Feedback | Monthly training
            </p>
          </div>
        </div>
        <div class="text-center flex flex-col gap-4">
          <div
            class="bg-white rounded-full w-20 h-20 text-center justify-center items-center flex mx-auto shadow-lg"
          >
            <img
              class="h-12"
              src="https://pathao.com/wp-content/uploads/2018/12/ic_Car_Feature_1.png"
              alt=""
            />
          </div>
          <div class="px-6">
            <h2 class="title text-3xl font-bold mb-6 Title-font">
              Health and Wellness
            </h2>
            <p class="text-gray-700 font-medium">
              Open Pantry | Game nights | Monthly Events
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------------whay datadot lab section end------------------- -->

    <!-- -----------------------Become a Part  section start--------------- -->
    <section class="md:px-12 px-6 my-20">
      <div class="flex gap-4 items-center justify-center md:px-20">
        <img
          class="md:h-[516px] mb-4 w-full h-[250px]"
          src="https://pathao.com/wp-content/uploads/2019/01/Rectangle-2.jpg"
          alt=""
        />
        <img
          class="h-[266px] md:block hidden"
          src="https://pathao.com/wp-content/uploads/2019/01/Group-11.jpg"
          alt=""
        />
      </div>
      <div class="grid grid-cols-12 justify-end gap-6">
        <div class="col-span-6 justify-end ml-auto md:block hidden">
          <img
            class="h-[266px]"
            src="https://pathao.com/wp-content/uploads/2019/01/Group-11.jpg"
            alt=""
          />
        </div>
        <div
          class="bg-black md:col-span-6 col-span-12 text-white p-12 md:-translate-y-40 rounded-md"
        >
          <h1 class="md:text-6xl text-2xl Title-font font-bold">
            Become a Part of Pathao
          </h1>
          <p class="text-xl py-4">
            Working at Pathao means working at the most fast paced and rigorous
            environment
          </p>
          <a href="">
            <button
              class="chatbtn btn flex items-center border-none gap-3 bg-accent hover:bg-blue-700 bg-blue-600 duration-500 text-white md:px-10 px-4 py-4 rounded"
            >
              <h6 class="md:text-xl font-semibold">See Your Open Position</h6>
              <i class="fa-solid fa-arrow-right btn-icon mt-[3px]"></i>
            </button>
          </a>
        </div>
      </div>
    </section>
    <!-- -----------------------Become a Part  section end--------------- -->
  </main>
</MainLayout>
