---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | Contact">
  <main>
    <!----------------- banner section start  ---------------------->
    <section
      class="bg-gray-100 grid lg:grid-cols-2 justify-between items-center lg:px-12 px-6 pt-12 py-6"
    >
      <div class="">
        <h1 class="lg:text-5xl text-3xl font-bold lg:mb-4">Pathao Press</h1>
        <p class="text-xl text-gray-600">
          Our press release, coverage and press kit
        </p>
      </div>
      <div class="img md:block hidden">
        <img
          class="h-56 mx-auto"
          src="https://pathao.com/wp-content/themes/webpathao/assets/images/press-title.png"
          alt=""
        />
      </div>
    </section>
    <!----------------- banner section end  ---------------------->

    <!-- --------------------- Press Recesses section start----------------->
    <section
      class="grid grid-cols-12 lg:gap-16 items-start lg:px-12 px-6 py-12"
    >
      <!------------ navigation start---------->
      <section class="lg:col-span-3 col-span-12">
        <ul class="flex flex-col gap-1">
          <a href="press-releases.html" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Press Recesses
            </li>
          </a>

          <a href="press-kit.html" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Press Kit
            </li>
          </a>

          <a href="contact-us.html" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 text-blue-600 font-semibold duration-300"
            >
              Contact
            </li>
          </a>
        </ul>
      </section>
      <!------------ navigation end---------->

      <!-- --------------------------main  context section start------------------ -->
      <section class="lg:col-span-9 col-span-12 lg:mt-0 mt-12">
        <h2 class="text-2xl font-semibold pb-8">Contact us</h2>
        <hr />

        <div class="my-12 grid lg:grid-cols-12 gap-16">
          <div class="form-section lg:col-span-7 order-2 lg:order-1">
            <h2 class="text-2xl font-semibold pb-8">Send your message</h2>
            <!-- contact form -->
            <form id="contact-form">
              <div class="">
                <label for="" class="font-semibold"
                  >Your Name <span class="text-red-600">*</span></label
                >
                <input
                  type="text"
                  id="name"
                  placeholder="Enter your Name"
                  class="block w-full border py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                  required
                />
              </div>
              <div>
                <label for="" class="font-semibold"
                  >Email Address <span class="text-red-600">*</span></label
                >
                <input
                  type="email"
                  id="email"
                  placeholder="Email Id"
                  class="block w-full border py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                  required
                />
              </div>
              <div class="">
                <label for="" class="font-semibold">Mobile Number</label>
                <input
                  type="text"
                  id="phone"
                  placeholder="01xxxxxxxxxxxxxx"
                  class="block w-full border py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                  required
                />
              </div>
              <div class="">
                <label for="" class="font-semibold"
                  >Message <span class="text-red-600">*</span></label
                >
                <textarea
                  name="Message"
                  id="massage"
                  placeholder="Inter Your Massage"
                  rows="4"
                  class="block w-full border border-gray-400 py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                  required></textarea>
              </div>
              <p class="text-gray-500 mb-4">
                We want your input: questions, bug reports, complaints, praise,
                feature requests — every little bit helps. Let us know what we
                can do to improve Pathao.
              </p>
              <button
                type="submit"
                id="submit_btn"
                class="bg-blue-600 cursor-pointer text-white px-6 py-2 rounded-md font-semibold"
                >Send Message</button
              >
            </form>
          </div>
          <div class="address lg:col-span-5 order-1 lg:order-2">
            <h2 class="text-2xl font-semibold pb-8">Address</h2>
            <div class="flex flex-col gap-2">
              <p>
                House# 72, Road# 21, Banani, Dhaka-1213 (near Banani
                Bidyaniketon School & College, beside University of South Asia)
              </p>
              <p class="text-red-500 font-semibold">
                <a href=""> View in map</a>
              </p>
              <div class="">
                <p class="font-semibold">Call : 13301 (24/7)</p>
                <p class="font-semibold">Email : support@pathao.com</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  
  <script setup>
const contactForm = document.getElementById("contact-form");
const submitBtn = document.getElementById("submit_btn");
const name = document.getElementById("name");
const email = document.getElementById("email");
const phone = document.getElementById("phone");
const message = document.getElementById("massage");

const public_key = "CZ73ratrIglvcYGxU";
const services_Id = "service_nyjys43";
const template_Id = "template_16ufplj";

emailjs.init(public_key);

contactForm.addEventListener("submit", (e) => {
  e.preventDefault();

  submitBtn.innerText = "Sending...";

  const inputFields = {
    name: name.value,
    email: email.value,
    phone: phone.value,
    message: message.value,
  };

  emailjs.send(services_Id, template_Id, inputFields).then(() => {
    submitBtn.innerText = "Send Success";
    name.value = "";
    email.value = "";
    phone.value = "";
    message.value = "";
  });
  </script>
</MainLayout>
