---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | Contact-Sales">
  <!----------------- banner section start  ---------------------->
  <section
    class="bg-gray-100 grid lg:grid-cols-2 justify-between items-center lg:px-12 p-6"
  >
    <div class="">
      <h1 class="lg:text-4xl text-2xl font-bold lg:mb-4">Contact</h1>
      <p class="md:text-xl text-gray-600">
        Our press release, coverage and press kit
      </p>
    </div>
    <div class="img md:block hidden">
      <img
        class="h-56 mx-auto"
        src="https://pathao.com/wp-content/themes/webpathao/assets/images/press-title.png"
        alt=""
      />
    </div>
  </section>
  <!----------------- banner section end  ---------------------->
  <section class="lg:gap-16 items-start px-6">
    <!-- --------------------------main  context section start------------------ -->
    <section class="md:w-9/12 mx-auto lg:mt-0 mt-12">
      <div class="my-12 grid md:grid-cols-2 gap-16">
        <div class="form-section order-2 lg:order-1">
          <h2 class="text-2xl font-semibold pb-8">Send your message</h2>
          <!-- contact form -->
          <form id="contact-form">
            <div class="">
              <label for="" class="font-semibold"
                >Your Name <span class="text-red-600">*</span></label
              >
              <input
                type="text"
                id="name"
                placeholder="Enter your Name"
                class="block w-full border py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                required
              />
            </div>
            <div>
              <label for="" class="font-semibold"
                >Email Address <span class="text-red-600">*</span></label
              >
              <input
                type="email"
                id="email"
                placeholder="Email Id"
                class="block w-full border py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                required
              />
            </div>
            <div class="">
              <label for="" class="font-semibold">Mobile Number</label>
              <input
                type="text"
                id="phone"
                placeholder="01xxxxxxxxxxxxxx"
                class="block w-full border py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                required
              />
            </div>
            <div class="">
              <label for="" class="font-semibold"
                >Message <span class="text-red-600">*</span></label
              >
              <textarea
                name="Message"
                id="massage"
                placeholder="Inter Your Massage"
                rows="4"
                class="block w-full border border-gray-400 py-2 mt-1 mb-4 rounded-sm outline-none px-4"
                required></textarea>
            </div>
            <p class="text-gray-500 mb-4">
              We want your input: questions, bug reports, complaints, praise,
              feature requests — every little bit helps. Let us know what we can
              do to improve Pathao.
            </p>
            <button
              type="submit"
              id="submit_btn"
              class="bg-blue-600 cursor-pointer text-white px-6 py-2 rounded-md font-semibold"
              >Send Message</button
            >
          </form>
        </div>
        <div class="address order-1 lg:order-2">
          <h2 class="text-2xl font-semibold pb-8">Address</h2>
          <div class="flex flex-col gap-2">
            <p>
              House# 72, Road# 21, Banani, Dhaka-1213 (near Banani Bidyaniketon
              School & College, beside University of South Asia)
            </p>
            <p class="text-red-500 font-semibold">
              <a href=""> View in map</a>
            </p>
            <div class="">
              <p class="font-semibold">Call : 13301 (24/7)</p>
              <p class="font-semibold">Email : support@pathao.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</MainLayout>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script is:inline>
  const contactForm = document.getElementById("contact-form");
  const submitBtn = document.getElementById("submit_btn");
  const name = document.getElementById("name");
  const email = document.getElementById("email");
  const phone = document.getElementById("phone");
  const message = document.getElementById("massage");

  const public_key = "CZ73ratrIglvcYGxU";
  const services_Id = "service_nyjys43";
  const template_Id = "template_16ufplj";

  emailjs.init(public_key);

  contactForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    submitBtn.innerText = "Sending...";

    const inputFields = {
      name: name.value,
      email: email.value,
      phone: phone.value,
      message: message.value,
    };

    try {
      await emailjs.send(services_Id, template_Id, inputFields);
      submitBtn.innerText = "Send Success";
      clearFormFields();
    } catch (error) {
      console.error("Error sending email:", error);
      submitBtn.innerText = "Send Failed";
    } finally {
      setTimeout(() => {
        submitBtn.innerText = "Send Message";
      }, 2000); // Reset button text after 2 seconds
    }
  });

  function clearFormFields() {
    name.value = "";
    email.value = "";
    phone.value = "";
    message.value = "";
  }
</script>
