---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | News Room">
  <!-- banner -->
  <div class="max-w-[1600px] lg:px-12 bg-gray-100 px-6 mx-auto pt-6">
    <div
      class="flex justify-between items-center content-center lg:border-b-[1px] border-solid border-gainsboro-200"
    >
      <div>
        <h1 class="text-3xl text-[#152934] mb-2 font-semibold">
          Datadoat Labs Blog
        </h1>
        <p>Announcements, updates, releases, and more</p>
      </div>
      <div>
        <img
          class="w-60 hidden md:block"
          src="/src/images/blog_img/banner/blog.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <!-- news header start -->
  <div
    class="max-w-[1600px] mx-auto flex gap-8 justify-between lg:items-center lg:px-12 px-6 mt-6 border-b pb-4"
  >
    <div class="">
      <ul class="flex gap-4 pb-4 items-center content-center text-lg">
        <a
          href="blog.html"
          class="hover:bg-blue-600 hover:text-white px-2 lg:px-4 py-1 rounded-md bg-gray-300 duration-500"
        >
          <li>Home</li>
        </a>
        <a
          href="news-room.html"
          class="bg-blue-600 text-white px-2 lg:px-4 py-1 rounded-md"
        >
          <li>Newsroom</li>
        </a>
      </ul>
    </div>
    <div>
      <input
        type="text"
        class="border outline-none lg:w-[100%] w-[90%] lg:p-2 p-1 rounded-md"
        placeholder="Search Blog"
      />
    </div>
  </div>
  <!-- news header end -->

  <div class="max-w-[1600px] mx-auto lg:px-12 px-6 py-10">
    <div class="flex justify-between items-center content-center mb-10">
      <h1 class="lg:text-4xl text-2xl text-[#152934] font-semibold">
        Newsroom
      </h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
      <div
        class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500 lg:mt-10"
      >
        <img
          class="w-full h-64 rounded-md"
          src="/src/images/blog_img/images/newsroom/news-1.jpg"
          alt=""
        />

        <div class="">
          <div class="flex gap-4 mt-2 mx-4">
            <p>All</p>
            <p>July 25, 2023</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Empowering Financial Flexibility: Introducing Pathao Advance that
            allows our Courier merchants to get paid for orders upfront!
          </h1>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
