---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | Press Releses">
  <main>
    <!----------------- banner section start  ---------------------->
    <section
      class="bg-gray-100 grid lg:grid-cols-2 justify-between items-center lg:px-12 px-6 pt-12 py-6"
    >
      <div class="">
        <h1 class="lg:text-5xl text-3xl font-bold lg:mb-4">Pathao Press</h1>
        <p class="text-xl text-gray-600">
          Our press release, coverage and press kit
        </p>
      </div>
      <div class="img md:block hidden">
        <img
          class="h-56 mx-auto"
          src="https://pathao.com/wp-content/themes/webpathao/assets/images/press-title.png"
          alt=""
        />
      </div>
    </section>
    <!----------------- banner section end  ---------------------->

    <!-- --------------------- Press Recesses section start----------------->
    <section
      class="grid grid-cols-12 lg:gap-16 items-start lg:px-12 px-6 py-12"
    >
      <!------------ navigation start---------->
      <section class="lg:col-span-3 col-span-12">
        <ul class="flex flex-col gap-1">
          <a href="press-releases.html" class="mb-4">
            <li
              class="pb-4 border-b text-blue-600 hover:text-blue-600 font-semibold duration-300"
            >
              Press Recesses
            </li>
          </a>

          <a href="press-kit.html" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Press Kit
            </li>
          </a>

          <a href="contact-us.html" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Contact
            </li>
          </a>
        </ul>
      </section>
      <!------------ navigation end---------->

      <!-- --------------------------main  context section start------------------ -->
      <section class="lg:col-span-9 col-span-12 lg:mt-0 mt-12">
        <h2 class="text-2xl font-semibold pb-8">Press Release</h2>
        <hr />
        <!-- ---------press carts section----------- -->
        <div class="my-12 flex flex-col gap-6">
          <div
            class="grid lg:grid-cols-2 bg-[#ffffff] hover:shadow-xl duration-500 lg:pl-6 items-center rounded-md border"
          >
            <div class="flex flex-col gap-2 order-2 lg:order-1 p-6">
              <div class="flex gap-4">
                <p>Promotions</p>
                <p>June 13, 2021</p>
              </div>
              <h1 class="text-[#000] text-[22px] font-bold">
                Update your cart on Pathao Food
              </h1>
            </div>

            <div class="img ml-0 lg:ml-auto order-1 lg:order-2">
              <img
                class="h-auto w-full object-cover"
                src="https://pathao.com/wp-content/uploads/2023/10/Post-Thumbnail-Aspect-ratio-696x448-1-255x163.jpg"
                alt=""
              />
            </div>
          </div>
          <div
            class="grid lg:grid-cols-2 bg-[#ffffff] hover:shadow-xl duration-500 lg:pl-6 items-center rounded-md border"
          >
            <div class="flex flex-col gap-2 order-2 lg:order-1 p-6">
              <div class="flex gap-4">
                <p>Promotions</p>
                <p>June 13, 2021</p>
              </div>
              <h1 class="text-[#000] text-[22px] font-bold">
                Update your cart on Pathao Food
              </h1>
            </div>

            <div class="img ml-0 lg:ml-auto order-1 lg:order-2">
              <img
                class="h-auto w-full object-cover"
                src="https://pathao.com/wp-content/uploads/2023/10/Post-Thumbnail-Aspect-ratio-696x448-1-255x163.jpg"
                alt=""
              />
            </div>
          </div>
          <div
            class="grid lg:grid-cols-2 bg-[#ffffff] hover:shadow-xl duration-500 lg:pl-6 items-center rounded-md border"
          >
            <div class="flex flex-col gap-2 order-2 lg:order-1 p-6">
              <div class="flex gap-4">
                <p>Promotions</p>
                <p>June 13, 2021</p>
              </div>
              <h1 class="text-[#000] text-[22px] font-bold">
                Update your cart on Pathao Food
              </h1>
            </div>

            <div class="img ml-0 lg:ml-auto order-1 lg:order-2">
              <img
                class="h-auto w-full object-cover"
                src="https://pathao.com/wp-content/uploads/2023/10/Post-Thumbnail-Aspect-ratio-696x448-1-255x163.jpg"
                alt=""
              />
            </div>
          </div>
          <div
            class="grid lg:grid-cols-2 bg-[#ffffff] hover:shadow-xl duration-500 lg:pl-6 items-center rounded-md border"
          >
            <div class="flex flex-col gap-2 order-2 lg:order-1 p-6">
              <div class="flex gap-4">
                <p>Promotions</p>
                <p>June 13, 2021</p>
              </div>
              <h1 class="text-[#000] text-[22px] font-bold">
                Update your cart on Pathao Food
              </h1>
            </div>

            <div class="img ml-0 lg:ml-auto order-1 lg:order-2">
              <img
                class="h-auto w-full object-cover"
                src="https://pathao.com/wp-content/uploads/2023/10/Post-Thumbnail-Aspect-ratio-696x448-1-255x163.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- --------------------------main  context section start------------------ -->
    </section>
    <!-- --------------------- Press Recesses section end----------------->
  </main>
</MainLayout>
