---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <!-- ----------------------banner start-------------------------- -->
  <section class="my-12 lg:px-12 px-6">
    <div class="bg-purple-200 w-fit px-3 rounded-full flex items-center">
      <span class="text-purple-600 font-semibold">AI add-on available</span>
    </div>
    <h1 class="text-5xl mt-4 font-bold block lg:hidden">Pricing</h1>
    <div class="lg:block hidden">
      <h2 class="text-6xl font-bold my-6">
        One tool for your whole company. <br /> Free for teams to try.
      </h2>
      <div class="">
        <p class="text-gray-600 pb-4">
          <span>Trusted by teams at</span>
        </p>
        <div class="maintenance-company-logos flex gap-6">
          <div class="">
            <img
              src="https://images.ctfassets.net/spoqsaf9291f/2VtWKmfmToo8n3X7BY0WwA/ccdcd719ee3bc3fa76148eae11d97c51/nike.png"
              alt=""
            />
          </div>
          <div class="">
            <img
              src="  https://images.ctfassets.net/spoqsaf9291f/6S40IUVrdki2SlPXQMHKKr/e02c776d183f70c84fa53e077a0f7b1a/pixar.png"
              alt=""
            />
          </div>
          <div class="">
            <img
              src="https://images.ctfassets.net/spoqsaf9291f/3o80U1VqLr5X1nE4kWlZM5/7d1493bad9ba1bd0adf0cf21b6751dd2/uber.png"
              alt=""
            />
          </div>
          <div class="">
            <img
              src="https://images.ctfassets.net/spoqsaf9291f/2WCcwnXlQhNhRqGIe95wj2/0393c2f4ef5b59229ba04b9edc0853db/figma.svg"
              alt=""
            />
          </div>
          <div class="">
            <img
              src="https://images.ctfassets.net/spoqsaf9291f/6dIueLe6mDK6HhNObFq2On/a6cd5c6aa443fe0fc69386522acf7b70/amazon.png"
              alt=""
            />
          </div>
          <div class="">
            <img
              src="https://images.ctfassets.net/spoqsaf9291f/18DMuU2Os0OAYiJxqU3aE7/3f2d9ce2c5761513c4f34f41cf85b028/Screen_Shot_2022-09-27_at_11.11_3.png"
              alt=""
            />
          </div>
          <div class="">
            <img
              src="https://images.ctfassets.net/spoqsaf9291f/346udUCJm76OzP8M0yI78w/81099c4f771df9286782581fe18d0efc/snowflake.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ----------------------banner end  -------------------------- -->

  <!-- ----------------------plan section start -------------------------- -->
  <section
    class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:px-12 px-6 my-20 gap-6"
  >
    <div class="border rounded-md h-auto bg-gray-100">
      <div class="header p-4 bg-white">
        <img class="w-8 h-10" src="/src/images/tech/home-.png" alt="" />
        <h4 class="text-2xl font-bold">Free</h4>
        <p class="">For organizing every corner of your work & life.</p>
      </div>
      <div class="body p-4">
        <h2 class="text-4xl font-bold">Free</h2>
        <p>
          <small>
            Unlimited blocks for individuals Limited block trial for teams
          </small>
        </p>
        <a
          href=""
          class="text-center block bg-white my-4 rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Get Started</button>
        </a>
        <ul class="mt-6">
          <li><i class="fa-solid fa-check"></i> Collaborative workspace</li>
          <li>
            <i class="fa-solid fa-check"></i> Integrate with Slack, <br />
             GitHub & more
          </li>
          <li><i class="fa-solid fa-check"></i> Basic page analytics</li>
          <li><i class="fa-solid fa-check"></i> 7 day page history</li>
          <li><i class="fa-solid fa-check"></i> Invite 10 guests</li>
        </ul>
      </div>
    </div>
    <div class="border rounded-md -translate-y-3 bg-gray-100">
      <div class="bg-gray-100 py-1 font-semibold px-4">
        <p>Most popular</p>
      </div>
      <div class="header p-4 bg-white">
        <img class="w-8 h-10" src="/src/images/tech/home-.png" alt="" />
        <h4 class="text-2xl font-bold">Plus</h4>
        <p class="">For organizing every corner of your work & life.</p>
      </div>
      <div class="body p-4">
        <div class="flex gap-2 items-center">
          <h2 class="text-4xl font-bold">$8</h2>
          <p class="text-[11px]">
            per user / month <br />
             billed annually
          </p>
        </div>
        <p>
          <small>
            Unlimited blocks for individuals Limited block trial for teams
          </small>
        </p>
        <a
          href=""
          class="text-center block bg-black my-4 text-white rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Get Started</button>
        </a>
        <ul>
          <li><i class="fa-solid fa-check"></i> Collaborative workspace</li>
          <li>
            <i class="fa-solid fa-check"></i> Integrate with Slack, <br />
             GitHub & more
          </li>
          <li><i class="fa-solid fa-check"></i> Basic page analytics</li>
          <li><i class="fa-solid fa-check"></i> 7 day page history</li>
          <li><i class="fa-solid fa-check"></i> Invite 10 guests</li>
        </ul>
      </div>
    </div>
    <div class="border rounded-md h-auto bg-gray-100">
      <div class="header p-4 bg-white">
        <img class="w-8 h-10" src="/src/images/tech/home-.png" alt="" />
        <h4 class="text-2xl font-bold">Business</h4>
        <p class="">For organizing every corner of your work & life.</p>
      </div>
      <div class="body p-4">
        <div class="flex gap-2 items-center">
          <h2 class="text-4xl font-bold">$15</h2>
          <p class="text-[11px]">
            per user / month <br />
             billed annually
          </p>
        </div>
        <p>
          <small>
            Unlimited blocks for individuals Limited block trial for teams
          </small>
        </p>
        <a
          href=""
          class="text-center block bg-white my-4 rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Get Started</button>
        </a>
        <ul class="mt-6">
          <li><i class="fa-solid fa-check"></i> Collaborative workspace</li>
          <li>
            <i class="fa-solid fa-check"></i> Integrate with Slack, <br />
             GitHub & more
          </li>
          <li><i class="fa-solid fa-check"></i> Basic page analytics</li>
          <li><i class="fa-solid fa-check"></i> 7 day page history</li>
          <li><i class="fa-solid fa-check"></i> Invite 10 guests</li>
        </ul>
      </div>
    </div>
    <div class="border rounded-md full bg-gray-100">
      <div class="header p-4 bg-white">
        <img class="w-8 h-10" src="/src/images/tech/home-.png" alt="" />
        <h4 class="text-2xl font-bold">Enterprise</h4>
        <p class="">For organizing every corner of your work & life.</p>
      </div>
      <div class="body p-4">
        <span class="text-4xl">
          <i class="fa-regular fa-message"></i>
        </span>
        <a
          href=""
          class="text-center block bg-white my-4 rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Request a Demo</button>
        </a>
        <ul class="mt-6">
          <li><i class="fa-solid fa-check"></i> Collaborative workspace</li>
          <li>
            <i class="fa-solid fa-check"></i> Integrate with Slack, <br />
             GitHub & more
          </li>
          <li><i class="fa-solid fa-check"></i> Basic page analytics</li>
          <li><i class="fa-solid fa-check"></i> 7 day page history</li>
          <li><i class="fa-solid fa-check"></i> Invite 10 guests</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- ----------------------plan section  end  -------------------------- -->

  <!-- ----------------------Notion AI section  start ---------------------- -->
  <section class="lg:px-12 px-6">
    <div class="grid md:grid-cols-2 gap-6 bg-gray-100 mb-20">
      <div class="left-side md:p-10 p-4 pr-0">
        <div class="mb-6">
          <span>
            <p class="text-purple-600 font-bold">Now with Q&A</p>
          </span>
          <h3 class="text-[28px] font-bold">Notion AI</h3>
          <p>
            <span class="font-bold"
              >Add to any paid plan for $8 per member / month,</span
            >
             billed annually. $10 per member / month for monthly billing and
            Free plans.
          </p>
        </div>
        <div class="">
          <small class="font-semibold">Includes unlimited use of</small>
          <div class="">
            <i
              class="fa-solid fa-message"
              style="color: blueviolet; font-size: 13px;"></i>
            <span>
              <span class="font-semibold ml-2 text-sm">Q&A.</span>
               Get instant answers to your questions.
            </span>
          </div>
          <div class="">
            <i
              class="fa-solid fa-pen-fancy"
              style="color: blueviolet; font-size: 13px;"></i>
            <span>
              <span class="font-semibold ml-2 text-sm">Autofill.</span>
               Get instant answers to your questions.
            </span>
          </div>
          <div class="">
            <i
              class="fa-regular fa-note-sticky"
              style="color: blueviolet; font-size: 13px;"></i>
            <span>
              <span class="font-semibold ml-2 text-sm">Writer.</span>
               Get instant answers to your questions.
            </span>
          </div>
        </div>
        <div class="mt-6 flex gap-4">
          <a
            href=""
            class="px-6 py-1 bg-purple-600 text-white font-semibold border rounded-md"
          >
            <button>Get Started</button>
          </a>
          <a
            href=""
            class="px-6 py-1 bg-white font-semibold border-2 rounded-md"
          >
            <button>Get Started</button>
          </a>
        </div>
      </div>
      <div class="right-side">
        <div
          class="mt-8 mr-8 h-[91%] bg-white md:w-2/3 ml-6 justify-center md:ml-auto border-b p-4"
        >
          <div class="header flex justify-between">
            <div class="">
              <span class="font-semibold text-sm">Aks AI</span>
              <span class="font-semibold text-xs bg-gray-100 rounded-md px-2">
                Q&A beta
              </span>
            </div>
            <div class="bg-gray-100 rounded-full w-fit px-2">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
          <div class="body mt-4">
            <div class="bg-gray-100 px-4 rounded-md opacity-60 ml-24">
              <small
                >Lorem ipsum dolor sit amet conse <br />ctetur adipisicing.</small
              >
            </div>
            <div class="border shadow px-4 rounded-md opacity-60 mr-24 my-4">
              <small
                >Lorem ipsum dolor sit amet conse <br />ctetur adipisicing.</small
              >
            </div>
            <small class="text-gray-500"> 3 pages found</small>
            <br />
            <small>web sprint</small>
            <br />
            <small>Team weekly</small>
            <br />
            <small> bug tracker</small>
            <div class="">
              <input
                type="text"
                class="border-2 border-blue-200 outline-none w-full rounded-full px-4 mt-2"
                placeholder="text hear"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------------------------Notion AI section  end --------------- -->

  <!-- -------------sm device show the section ---------- -->
  <div class="mb-12 lg:px-12 px-6 block lg:hidden">
    <p class="text-center my-6 text-2xl font-bold">
      <span>Trusted by teams at</span>
    </p>
    <div
      class="maintenance-company-logos grid grid-cols-3 gap-8 justify-end text-center items-center"
    >
      <div class="">
        <img
          src="https://images.ctfassets.net/spoqsaf9291f/2VtWKmfmToo8n3X7BY0WwA/ccdcd719ee3bc3fa76148eae11d97c51/nike.png"
          alt=""
        />
      </div>
      <div class="">
        <img
          src="  https://images.ctfassets.net/spoqsaf9291f/6S40IUVrdki2SlPXQMHKKr/e02c776d183f70c84fa53e077a0f7b1a/pixar.png"
          alt=""
        />
      </div>
      <div class="">
        <img
          src="https://images.ctfassets.net/spoqsaf9291f/3o80U1VqLr5X1nE4kWlZM5/7d1493bad9ba1bd0adf0cf21b6751dd2/uber.png"
          alt=""
        />
      </div>
      <div class="">
        <img
          src="https://images.ctfassets.net/spoqsaf9291f/2WCcwnXlQhNhRqGIe95wj2/0393c2f4ef5b59229ba04b9edc0853db/figma.svg"
          alt=""
        />
      </div>
      <div class="">
        <img
          src="https://images.ctfassets.net/spoqsaf9291f/6dIueLe6mDK6HhNObFq2On/a6cd5c6aa443fe0fc69386522acf7b70/amazon.png"
          alt=""
        />
      </div>
      <div class="">
        <img
          src="https://images.ctfassets.net/spoqsaf9291f/18DMuU2Os0OAYiJxqU3aE7/3f2d9ce2c5761513c4f34f41cf85b028/Screen_Shot_2022-09-27_at_11.11_3.png"
          alt=""
        />
      </div>
      <div class="">
        <img
          src="https://images.ctfassets.net/spoqsaf9291f/346udUCJm76OzP8M0yI78w/81099c4f771df9286782581fe18d0efc/snowflake.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- -------------sm device show the section ---------- -->

  <!-- ------------Compare plans & features start--------- -->
  <section class="mb-20 px-12 lg:block hidden">
    <h2 class="text-4xl font-bold">Compare plans & features</h2>
    <div class="mt-8">
      <table class="min-w-full bg-white border-gray-300">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-4 border-b w-[30%]">Content</th>
            <th class="py-2 px-4 border-b min-w-[15%]">Free</th>
            <th class="py-2 px-4 border-b min-w-[15%]"> Plus</th>
            <th class="py-2 px-4 border-b min-w-[15%]">Business</th>
            <th class="py-2 px-4 border-b min-w-[15%]">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td class="py-2 px-4 border-b w-[30%]">Pages & blocks</td>
            <td class="py-2 px-4 border-b w-[20%]"
              >Unlimited for individuals, limited block trial for 2+ members</td
            >
            <td class="py-2 px-4 border-b">Unlimited</td>
            <td class="py-2 px-4 border-b">Unlimited</td>
            <td class="py-2 px-4 border-b">Unlimited</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-8">
      <table class="min-w-full bg-white border-gray-300">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-4 border-b w-[30%]">Sharing & collaboration</th>
            <th class="py-2 px-4 border-b">Free</th>
            <th class="py-2 px-4 border-b"> Plus</th>
            <th class="py-2 px-4 border-b">Business</th>
            <th class="py-2 px-4 border-b">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td class="py-2 px-4 border-b w-[30%]">Collaborative workspace</td>
            <td class="py-2 px-4 border-b w-[20%]">
              <i class="fa-solid fa-check"></i>
            </td>
            <td class="py-2 px-4 border-b min-w-[15%]">Unlimited</td>
            <td class="py-2 px-4 border-b min-w-[15%]">
              <i class="fa-solid fa-check min-w-[15%]"></i>
            </td>
            <td class="py-2 px-4 border-b min-w-[15%]">
              <i class="fa-solid fa-check"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-8">
      <table class="min-w-full bg-white border-gray-300">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-4 border-b w-[30%]">API & integrations</th>
            <th class="py-2 px-4 border-b">Free</th>
            <th class="py-2 px-4 border-b"> Plus</th>
            <th class="py-2 px-4 border-b">Business</th>
            <th class="py-2 px-4 border-b">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td class="py-2 px-4 border-b w-[30%]">Synced databases</td>
            <td class="py-2 px-4 border-b w-[20%]">1</td>
            <td class="py-2 px-4 border-b min-w-[15%]">Unlimited</td>
            <td class="py-2 px-4 border-b min-w-[15%]">Unlimited</td>
            <td class="py-2 px-4 border-b min-w-[15%]">Unlimited</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-8">
      <table class="min-w-full bg-white border-gray-300">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-4 border-b w-[30%]">Admin & security</th>
            <th class="py-2 px-4 border-b">Free</th>
            <th class="py-2 px-4 border-b"> Plus</th>
            <th class="py-2 px-4 border-b">Business</th>
            <th class="py-2 px-4 border-b">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td class="py-2 px-4 border-b w-[30%]"
              >Export entire workspace as HTML, Markdown, & CSV</td
            >
            <td class="py-2 px-4 border-b w-[20%]">
              <i class="fa-solid fa-check"></i>
            </td>
            <td class="py-2 px-4 border-b min-w-[15%]">
              <i class="fa-solid fa-check"></i>
            </td>
            <td class="py-2 px-4 border-b min-w-[15%]">
              <i class="fa-solid fa-check"></i>
            </td>
            <td class="py-2 px-4 border-b min-w-[15%]">
              <i class="fa-solid fa-check"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-8">
      <table class="min-w-full bg-white border-gray-300">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-4 border-b w-[30%]">Support</th>
            <th class="py-2 px-4 border-b">Free</th>
            <th class="py-2 px-4 border-b"> Plus</th>
            <th class="py-2 px-4 border-b">Business</th>
            <th class="py-2 px-4 border-b">Enterprise</th>
          </tr>
        </thead>
        <tbody>
          <tr class="">
            <td class="py-2 px-4 border-b w-[30%]">Priority support</td>
            <td class="py-2 px-4 border-b w-[20%]"></td>
            <td class="py-2 px-4 border-b min-w-[15%]">Unlimited</td>
            <td class="py-2 px-4 border-b min-w-[15%]">Unlimited</td>
            <td class="py-2 px-4 border-b min-w-[15%]">Unlimited</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="w-[70%] mt-6 grid grid-cols-4 gap-4 ml-auto justify-end">
      <div class="body p-4">
        <h5 class="text-xl font-bold mb-2">free</h5>
        <h2 class="text-4xl font-bold">Free</h2>
        <p>
          <small>
            Unlimited blocks for individuals Limited block trial for teams
          </small>
        </p>
        <a
          href=""
          class="text-center block bg-white my-4 rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Get Started</button>
        </a>
      </div>

      <div class="body p-4">
        <h5 class="text-xl font-bold mb-2">Plus</h5>
        <div class="flex gap-2 items-center">
          <h2 class="text-4xl font-bold">$8</h2>
          <p class="text-[11px]">
            per user / month <br />
             billed annually
          </p>
        </div>
        <p>
          <small>
            Unlimited blocks for individuals Limited block trial for teams
          </small>
        </p>
        <a
          href=""
          class="text-center block bg-black my-4 text-white rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Get Started</button>
        </a>
      </div>

      <div class="body p-4">
        <h5 class="text-xl font-bold mb-2">Business</h5>
        <div class="flex gap-2 items-center">
          <h2 class="text-4xl font-bold">$15</h2>
          <p class="text-[11px]">
            per user / month <br />
             billed annually
          </p>
        </div>
        <p>
          <small>
            Unlimited blocks for individuals Limited block trial for teams
          </small>
        </p>
        <a
          href=""
          class="text-center block bg-white my-4 rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Get Started</button>
        </a>
      </div>

      <div class="body p-4">
        <h5 class="text-xl font-bold mb-2">Enterprise</h5>
        <span class="text-4xl">
          <i class="fa-regular fa-message"></i>
        </span>
        <a
          href=""
          class="text-center block mt-[81px] bg-white my-4 rounded-md py-2 font-semibold shadow-xl"
        >
          <button>Request a Demo</button>
        </a>
      </div>
    </div>
  </section>
  <!-- ------------Compare plans & features end--------- -->
</MainLayout>
