---
import MainLayout from "../layouts/MainLayout.astro";
const data = ["gubel", "roman", "rohan"];
---

<MainLayout>
  <div>
    <button onclick="handleOneClick()">Click Me</button>
  </div>
</MainLayout>
<script>
  function handleOneClick() {
    alert("One Click Action Executed!");
    // Add your one-click action logic here
  }
</script>
