---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | View Project">
  <main>
    <div class="max-w-[1600px] mx-auto py-10 lg:px-12 px-6 border-b-[1px]">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <a href="view-projects/yarpacom">
          <div
            class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500"
          >
            <img
              class="w-full rounded-md"
              src="/src/images/blog_img/images/product/product-1.png"
              alt=""
            />
          </div>
          <div class="flex gap-4 mt-2 mx-4">
            <p>Promotions</p>
            <p>June 13, 2021</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">Yarpacom</h1>
        </a>
        <a href="view-projects/fried-chicken.html">
          <div
            class="bg-[#ffffff] rounded-md shadow hover:shadow-xl duration-500"
          >
            <img
              class="w-full rounded-md"
              src="/src/images/blog_img/images/blog-4.jpg"
              alt=""
            />
          </div>
          <div class="flex gap-4 mt-2 mx-4">
            <p>Promotions</p>
            <p>June 13, 2021</p>
          </div>
          <h1 class="text-[#000] text-xl font-bold mx-4 py-4 mb-6">
            Original Fried Chicken
          </h1>
        </a>
      </div>
    </div>
  </main>
</MainLayout>
