---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | Press Releses">
  <main>
    <!----------------- banner section start  ---------------------->
    <section
      class="bg-gray-100 grid lg:grid-cols-2 justify-between items-center lg:px-12 px-6 pt-12 py-6"
    >
      <div class="">
        <h1 class="lg:text-5xl text-3xl font-bold lg:mb-4">Pathao Press</h1>
        <p class="text-xl text-gray-600">
          Our press release, coverage and press kit
        </p>
      </div>
      <div class="img md:block hidden">
        <img
          class="h-56 mx-auto"
          src="https://pathao.com/wp-content/themes/webpathao/assets/images/press-title.png"
          alt=""
        />
      </div>
    </section>
    <!----------------- banner section end  ---------------------->

    <!-- --------------------- Press Recesses section start----------------->
    <section
      class="grid grid-cols-12 lg:gap-16 items-start lg:px-12 px-6 py-12"
    >
      <!------------ navigation start---------->
      <section class="lg:col-span-3 col-span-12">
        <ul class="flex md:flex-col justify-between gap-1">
          <a href="/resources//press-releases" class="mb-4">
            <li
              class="pb-4 border-b text-blue-600 hover:text-blue-600 font-semibold duration-300"
            >
              Press Recesses
            </li>
          </a>

          <a href="/resources/press-kit" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Press Kit
            </li>
          </a>

          <a href="/resources/contact-us" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Contact
            </li>
          </a>
        </ul>
      </section>
      <!------------ navigation end---------->

      <!-- --------------------------main  context section start------------------ -->
      <section class="lg:col-span-9 col-span-12 lg:mt-0 mt-12">
        <h1 class="text-center h-40 md:text-3xl Title-font pt-12 text-xl">
          Press Releases under Maintenance <span class="coming-span"
            >Coming Soon</span
          >
        </h1>
      </section>
      <!-- --------------------------main  context section start------------------ -->
    </section>
    <!-- --------------------- Press Recesses section end----------------->
  </main>
</MainLayout>
