---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | Press kit">
  <main>
    <!----------------- banner section start  ---------------------->
    <section
      class="bg-gray-100 grid lg:grid-cols-2 justify-between items-center lg:px-12 px-6 pt-12 py-6"
    >
      <div class="">
        <h1 class="lg:text-5xl text-3xl font-bold lg:mb-4">Pathao Press</h1>
        <p class="text-xl text-gray-600">
          Our press release, coverage and press kit
        </p>
      </div>
      <div class="img md:block hidden">
        <img
          class="h-56 mx-auto"
          src="https://pathao.com/wp-content/themes/webpathao/assets/images/press-title.png"
          alt=""
        />
      </div>
    </section>
    <!----------------- banner section end  ---------------------->

    <!-- --------------------- Press Recesses section start----------------->
    <section
      class="grid grid-cols-12 lg:gap-16 items-start lg:px-12 px-6 py-12"
    >
      <!------------ navigation start---------->
      <section class="lg:col-span-3 col-span-12">
        <ul class="flex md:flex-col justify-between gap-1">
          <a href="/resources/press-releases" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Press Recesses
            </li>
          </a>

          <a href="/resources/press-kit" class="mb-4">
            <li
              class="pb-4 border-b text-blue-600 hover:text-blue-600 font-semibold duration-300"
            >
              Press Kit
            </li>
          </a>

          <a href="/resources/contact-us" class="mb-4">
            <li
              class="pb-4 border-b hover:text-blue-600 font-semibold duration-300"
            >
              Contact
            </li>
          </a>
        </ul>
      </section>
      <!------------ navigation end---------->

      <!-- --------------------------main  context section start------------------ -->
      <section class="lg:col-span-9 col-span-12 lg:mt-0 md:mt-12">
        <section class="grid md:grid-cols-2 gap-8 mt-12">
          <div>
            <h2 class="md:text-3xl text-2xl font-bold Title-font">Images</h2>
            <div class="">
              <img
                class="md:h-96 h-60 w-full mb-4"
                src="/images/Pathao-Logo_Horizontal_with_TagLine.png"
                alt=""
              />
            </div>
            <div class="justify-end flex">
              <a
                class="border-[1.5px] w-fit cursor-pointer px-4 md:my-0 py-2 justify-between rounded-md text-blue-600 font-semibold flex gap-2 items-center"
                href="/images/Pathao-Logo_Horizontal_with_TagLine.png"
                download
              >
                Download Image
                <img src="/images/download.png" class="w-5 h-5" alt="" />
              </a>
            </div>
          </div>
          <div class="">
            <h2 class="md:text-3xl text-2xl font-bold Title-font">
              Brand Assets
            </h2>
            <div class="">
              <img
                class="md:h-96 h-60 w-full mb-4"
                src="/images/Pathao-Logo_Horizontal_with_TagLine.png"
                alt=""
              />
            </div>

            <div class="justify-end flex">
              <a
                class="border-[1.5px] cursor-pointer px-4 md:my-0 py-2 justify-between rounded-md text-blue-600 font-semibold flex gap-2 items-center"
                href="/images/Pathao-Logo_Horizontal_with_TagLine.png"
                download
              >
                Download logo
                <img src="/images/download.png" class="w-5 h-5" alt="" />
              </a>
            </div>
          </div>
        </section>
        <!-- ---------logos  section----------- -->
        <!-- <div class="mt-12">
          <div class="md:flex justify-between mb-10">
            <div>
              <h2 class="md:text-5xl text-3xl font-bold Title-font">
                Brand Assets
              </h2>
            </div>
            <div>
              <a
                class="border-[1.5px] cursor-pointer px-4 md:my-0 my-6 py-2 justify-between rounded-md text-blue-600 font-semibold flex gap-2 items-center"
                href="/images/Pathao-Logo_Horizontal_with_TagLine.png"
                download
              >
                Download Brand Assets
                <img src="/images/download.png" class="w-5 h-5" alt="" />
              </a>
            </div>
          </div>

          <div class="md:w-[50%] ml-auto">
            <img
              class="h-96 w-full mb-4"
              src="/images/Pathao-Logo_Horizontal_with_TagLine.png"
              alt=""
            />
            <p>Company Logo</p>
          </div>
        </div>
        <div class="mt-12">
          <div class="md:flex justify-between mb-10">
            <div>
              <h2 class="md:text-5xl text-3xl font-bold Title-font">Images</h2>
            </div>
            <div>
              <a
                class="border-[1.5px] cursor-pointer px-4 md:my-0 my-6 py-2 justify-between rounded-md text-blue-600 font-semibold flex gap-2 items-center"
                href="/images/Pathao-Logo_Horizontal_with_TagLine.png"
                download
              >
                Download Images
                <img src="/images/download.png" class="w-5 h-5" alt="" />
              </a>
            </div>
          </div>

          <div class="md:w-[50%] ml-auto">
            <img
              class="h-96 w-full mb-4"
              src="/images/Pathao-Logo_Horizontal_with_TagLine.png"
              alt=""
            />
            <p>Company Logo</p>
          </div>
        </div> -->

        <!-- --------------------------main  context section end------------------ -->
      </section>
      <!-- --------------------- Press Recesses section end----------------->
    </section>
  </main>
</MainLayout>
