---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Datadot Labs | View Project">
  <main>
    <h1 class="text-center h-40 md:text-3xl Title-font pt-12 text-xl">
      Projects under Maintenance <span class="coming-span">Coming Soon</span>
    </h1>
  </main>
</MainLayout>
